<div class="mt-5 center jumbotron">
  <% if logged_in?%>
  <div class="mt-5 center jumbotron">
  <div class="p-5 text-center rounded-3">
    <h1 class="text-body-emphasis">Create or join workspaces</h1>
    <p>
      新しいworkspacesを作成するか、既存のworkspaceに参加しましょう。
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle m-2" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        <%= link_to "New workspace", new_workspace_path, class: "btn btn-primary btn-lg" %>
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"/></svg>
      </button>
    </div>
  </div>
</div>
  <% else %>
  <h1>Tracker</h1>
  <p>
    これはTrackerという新しい掲示板引き継ぎツールです。</br>
    Twitterのような投稿機能ですが、表示する期間を設けることで社内メンバーに伝えないといけない情報や引き継ぎを必要な期間表示します。
  </p>
  <p>
    また、Resolve/Unresolve機能を使うことで終わったアクション・引き継ぎを非表示にします。
  </p>
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">これから新しいWorkspaceを作成しましょう。</h1>
        <p class="col-md-8 fs-4">サインアップはこちら</p>
        <%= link_to "Sign Up Now!", signup_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>
  
</div>