<div class="mt-5 center jumbotron">
  <% if logged_in?%>
  <h1>新しいWorkspaceを作成しましょう。</h1>
  <%= link_to "New workspace", "#", class: "btn btn-primary btn-lg" %>
  <% else %>
  <h1>Tracker</h1>
  <p>
    これはTrackerという新しい掲示板引き継ぎツールです。</br>
    Twitterのような投稿機能ですが、表示する期間を設けることで社内メンバーに伝えないといけない情報や引き継ぎを必要な期間表示します。
  </p>
  <p>
    また、Resolve/Unresolve機能を使うことで終わったアクション・引き継ぎを非表示にします。
  </p>
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">これから新しいWorkspaceを作成しましょう。</h1>
        <p class="col-md-8 fs-4">サインアップはこちら</p>
        <%= link_to "Sign Up Now!", signup_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>
  
</div>