<div class="">
    <% @workspaces.each do |w| %>
       <ol>
        <%= image_tag('person-workspace.svg', width: 100, height: 100) %>
        <li><%= "Name: #{w.name}" %></li>
        <li><%= "Organizer: #{w.creator}" %></li>
        <p>---------------------------------------</p>
       </ol>
    <% end %>
    <%# link_to "workspace", workspace_path  %>
    
</div>